.pressable {
  transition: transform 0.2s, opacity .15s ease !important;
}
.pressable:active {
  transform: scale(0.95);
}

.navbar-container {
  padding-bottom: calc(env(safe-area-inset-bottom)*.6);
  height: calc(var(--spacing)*16 + env(safe-area-inset-bottom)*.6);
}
